*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-yellow-light{
    background-color: rgb(231, 231, 131);
}

.width-100per{
    width: 100%;
    display: block; 
}

.width-screen{
    width: 100%;
}

.font-size-header{
    font-size: 19px;
}

.h-eventi{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.box{
    width: 300px;
    height: 600px;
}


/*PARTE RESPONSIVE NAVBAR SCRITTE*/

.menu-header {
  font-size: 22px;
  gap: 40px;
  margin-left: 200px;
}

.mobile-menu {
    display: none;
}

@media (max-width: 1600px) {
  .menu-header {
    font-size: 20px;
    gap: 30px;
    margin-left: 180px;
  }
}


@media (max-width: 1400px) {
  .menu-header {
    font-size: 18px;
    gap: 20px;
    margin-left: 150px;
  }
}

@media (max-width: 1300px) {
  .menu-header {
    font-size: 16px;
    gap: 20px;
    margin-left: 120px;
  }
}
@media (max-width: 1250px) {
  .menu-header {
    font-size: 16px;
    gap: 20px;
    margin-left: 100px;
  }
}

@media (max-width: 1150px) {
  .menu-header {
    font-size: 16px;
    gap: 10px;
    margin-left: 80px;
  }
}

@media (max-width: 1050px) {
  .menu-header {
    font-size: 14px;
    gap: 10px;
    margin-left: 50px;
  }
}

 .display-phone-none {
    display: block; 
  }

@media (max-width: 991.98px) {
  .display-phone-none {
    display: none;
  }

  .menu-header{
    font-size: 15px;
    gap: 10px;
    margin-left: 20px;
  }
}

